.dashboard .info-card {
  padding-bottom: 100px;
}

.card {
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  background-color: #fff;
  margin-bottom: 1.5rem;
}

.card-header {
  background-color: var(--PrimaryColor);
  color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #e3e6f0;
}

.card-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.card-body {
  padding: 1.25rem;
}

.card-icon {
  font-size: 1.5rem;
}
