/* Karta */
.card {
  border: none;
  border-radius: 12px; /* Większe zaokrąglenia */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtelniejszy cień */
  background-color: #ffffff;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Płynniejsza animacja */
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* Mocniejszy cień podczas hover */
}

.card-header {
  background-color: var(--PrimaryColor);
  color: #fff;
  padding: 1rem;
  border-bottom: none; /* Usunięcie dolnej granicy */
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0 0; /* Zaokrąglenie nagłówka */
}

.card-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
}

.card-body {
  padding: 1.5rem; /* Więcej przestrzeni w karcie */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f9fa; /* Lekko szare tło wewnątrz kart */
  border-radius: 0 0 12px 12px; /* Zaokrąglenie dolnej części karty */
}

.card-icon {
  font-size: 1.8rem; /* Większe ikony */
  margin-right: 0.75rem;
}

/* Animacja ikon */
.card-icon {
  transition: transform 0.3s ease-in-out;
}

.card-header:hover .card-icon {
  transform: scale(1.2); /* Ikona powiększa się podczas hover */
}

/* Media query dla mniejszych ekranów */
@media (max-width: 768px) {
  .card-title {
    font-size: 1rem; /* Zmniejszenie rozmiaru czcionki tytułu */
  }

  .card-icon {
    font-size: 1.5rem; /* Zmniejszenie rozmiaru ikon */
  }

  .card-body {
    padding: 1.25rem; /* Dostosowanie paddingu */
  }
}

@media (max-width: 576px) {
  .card-title {
    font-size: 0.9rem; /* Jeszcze mniejsza czcionka na małych ekranach */
  }

  .card-icon {
    font-size: 1.2rem;
  }

  .card-body {
    padding: 1rem; /* Mniejszy padding na bardzo małych ekranach */
  }
}
