@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary Colors */
  --primary-900: #00730f;
  --primary-800: #009525;
  --primary-700: #0daa2f;
  --primary-600: #35bf39;
  --primary-500: #46cf41; /* główna wiodąca barwa */
  --primary-400: #69d760;
  --primary-300: #88df7e;
  --primary-200: #ade8a4;
  --primary-100: #cef2c8;
  --primary-50: #ebfae9;

  /* Complementary Colors */
  --complementary-900: #6700a7;
  --complementary-800: #8900b3;
  --complementary-700: #9b03ba;
  --complementary-600: #b009c1;
  --complementary-500: #bf0cc6;
  --complementary-400: #ca41cf; /* główna wiodąca barwa */
  --complementary-300: #d568d8;
  --complementary-200: #e295e4;
  --complementary-100: #edc0ee;
  --complementary-50: #f8e6f8;

  /* Analogous Colors (First Row) */
  --analogous-900: #2c7411;
  --analogous-800: #539625;
  --analogous-700: #68aa2f;
  --analogous-600: #7dbf39;
  --analogous-500: #8dcf41; /* główna wiodąca barwa */
  --analogous-400: #9ed760;
  --analogous-300: #b1de7e;
  --analogous-200: #c8e8a4;
  --analogous-100: #def1c8;
  --analogous-50: #f2fae9;
  --analogous2-900: #006419;
  --analogous2-800: #00842e;
  --analogous2-700: #009639;
  --analogous2-600: #00a845;
  --analogous2-500: #00b84f;
  --analogous2-400: #00c468;
  --analogous2-300: #41cf84; /* główna wiodąca barwa */
  --analogous2-200: #85dca8;
  --analogous2-100: #b7eaca;
  --analogous2-50: #e1f7e9;

  /* Triadic Colors (First Row) */
  --triadic-900: #004f3f;
  --triadic-800: #006b5e;
  --triadic-700: #007b6e;
  --triadic-600: #008b7f;
  --triadic-500: #00988c;
  --triadic-400: #00a9a0;
  --triadic-300: #00bab3;
  --triadic-200: #41cfca; /* główna wiodąca barwa */
  --triadic-100: #9ae2df;
  --triadic-50: #d7f3f3;

  /* Triadic Colors (Second Row) */
  --triadic2-900: #1b0c9a;
  --triadic2-800: #2b27ad;
  --triadic2-700: #3333b8;
  --triadic2-600: #3c3ec4;
  --triadic2-500: #4146cf; /* główna wiodąca barwa */
  --triadic2-400: #5e63d8;
  --triadic2-300: #7b80df;
  --triadic2-200: #a1a4e8;
  --triadic2-100: #c7c8f1;
  --triadic2-50: #e9e9fa;
  --background-neutral: #f5f5f5;
  --border-neutral: #e0e0e0;
  --PrimaryColor: hsl(94, 59%, 35%);
  --lightGreen: #8fe98c;
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --greyText: rgb(190, 190, 190);
  --bgColor: hsl(220, 10%, 94%);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bgColor);
  color: var(--blackColor);
}
a {
  text-decoration: none;
  color: var(--blackColor);
  cursor: pointer;
}

a:hover {
  color: var(--HoverColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: '';
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
